.vvi-h1,
h1.vvi-h1,
.vvi-style h1 {
  font-size: 2.8rem;
  line-height: 3rem;
  margin-block: 0.87rem;
  font-weight: 800;
  text-align: center;
}

.vvi-h2,
h2.vvi-h2,
.vvi-style h2 {
  font-size: 2.2rem;
  line-height: 2.4rem;
  margin-block: 0.94rem;
  font-weight: 700;
}

.vvi-h3,
h3.vvi-h3,
.vvi-style h3 {
  font-size: 1.6rem;
  line-height: 1.8rem;
  margin-block: 1rem;
  font-weight: 600;
}

.vvi-h4,
h4.vvi-h4,
.vvi-style h4 {
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-block: 1.02rem;
  font-weight: 600;
}

.vvi-h5,
h5.vvi-h5,
.vvi-style h5 {
  font-size: 0.94rem;
  line-height: 1.14rem;
  margin-block: 1.42rem;
  font-weight: 600;
}

.vvi-h6,
h6.vvi-h6,
.vvi-style h6 {
  font-size: 0.84rem;
  line-height: 1.04rem;
  margin-block: 2.12rem;
  font-weight: 600;
}
