@use './vars-color.scss' as color;
@use './root-normal-light.scss' as light;
@use './root-normal-dark.scss' as dark;
@use './root-weird-dark.scss' as weirdDark;
@use './vars-size.scss' as size;

:root {
  --vvi-darkness-10: #{color.$vvi-darkness-10};
  --vvi-darkness-10-rgb: #{color.$vvi-darkness-10-rgb};
  --vvi-darkness-15: #{color.$vvi-darkness-15};
  --vvi-darkness-15-rgb: #{color.$vvi-darkness-15-rgb};
  --vvi-darkness-20: #{color.$vvi-darkness-20};
  --vvi-darkness-20-rgb: #{color.$vvi-darkness-20-rgb};
  --vvi-darkness-25: #{color.$vvi-darkness-25};
  --vvi-darkness-25-rgb: #{color.$vvi-darkness-25-rgb};
  --vvi-darkness-30: #{color.$vvi-darkness-30};
  --vvi-darkness-30-rgb: #{color.$vvi-darkness-30-rgb};
  --vvi-darkness-35: #{color.$vvi-darkness-35};
  --vvi-darkness-35-rgb: #{color.$vvi-darkness-35-rgb};
  --vvi-darkness-40: #{color.$vvi-darkness-40};
  --vvi-darkness-40-rgb: #{color.$vvi-darkness-40-rgb};
  --vvi-darkness-45: #{color.$vvi-darkness-45};
  --vvi-darkness-45-rgb: #{color.$vvi-darkness-45-rgb};
  --vvi-darkness-50: #{color.$vvi-darkness-50};
  --vvi-darkness-50-rgb: #{color.$vvi-darkness-50-rgb};
  --vvi-darkness-55: #{color.$vvi-darkness-55};
  --vvi-darkness-55-rgb: #{color.$vvi-darkness-55-rgb};
  --vvi-darkness-60: #{color.$vvi-darkness-60};
  --vvi-darkness-60-rgb: #{color.$vvi-darkness-60-rgb};
  --vvi-darkness-65: #{color.$vvi-darkness-65};
  --vvi-darkness-65-rgb: #{color.$vvi-darkness-65-rgb};
  --vvi-darkness-70: #{color.$vvi-darkness-70};
  --vvi-darkness-70-rgb: #{color.$vvi-darkness-70-rgb};
  --vvi-darkness-75: #{color.$vvi-darkness-75};
  --vvi-darkness-75-rgb: #{color.$vvi-darkness-75-rgb};
  --vvi-darkness-80: #{color.$vvi-darkness-80};
  --vvi-darkness-80-rgb: #{color.$vvi-darkness-80-rgb};
  --vvi-darkness-85: #{color.$vvi-darkness-85};
  --vvi-darkness-85-rgb: #{color.$vvi-darkness-85-rgb};
  --vvi-darkness-90: #{color.$vvi-darkness-90};
  --vvi-darkness-90-rgb: #{color.$vvi-darkness-90-rgb};
  --vvi-blue: #{color.$vvi-blue};
  --vvi-blue-rgb: #{color.$vvi-blue-rgb};
  --vvi-cyan: #{color.$vvi-cyan};
  --vvi-cyan-rgb: #{color.$vvi-cyan-rgb};
  --vvi-lime: #{color.$vvi-lime};
  --vvi-lime-rgb: #{color.$vvi-lime-rgb};
  --vvi-green: #{color.$vvi-green};
  --vvi-green-rgb: #{color.$vvi-green-rgb};
  --vvi-yellow: #{color.$vvi-yellow};
  --vvi-yellow-rgb: #{color.$vvi-yellow-rgb};
  --vvi-volcano: #{color.$vvi-volcano};
  --vvi-volcano-rgb: #{color.$vvi-volcano-rgb};
  --vvi-gold: #{color.$vvi-gold};
  --vvi-gold-rgb: #{color.$vvi-gold-rgb};
  --vvi-orange: #{color.$vvi-orange};
  --vvi-orange-rgb: #{color.$vvi-orange-rgb};
  --vvi-red: #{color.$vvi-red};
  --vvi-red-rgb: #{color.$vvi-red-rgb};
  --vvi-violet: #{color.$vvi-violet};
  --vvi-violet-rgb: #{color.$vvi-violet-rgb};
  --vvi-pink: #{color.$vvi-pink};
  --vvi-pink-rgb: #{color.$vvi-pink-rgb};
  --vvi-beige: #{color.$vvi-beige};
  --vvi-beige-rgb: #{color.$vvi-beige-rgb};
  --vvi-black: #{color.$vvi-black};
  --vvi-black-rgb: #{color.$vvi-black-rgb};
  --vvi-white: #{color.$vvi-white};
  --vvi-white-rgb: #{color.$vvi-white-rgb};
  --vvi-blue-10: #{color.$vvi-blue-10};
  --vvi-blue-10-rgb: #{color.$vvi-blue-10-rgb};
  --vvi-blue-20: #{color.$vvi-blue-20};
  --vvi-blue-20-rgb: #{color.$vvi-blue-20-rgb};
  --vvi-blue-30: #{color.$vvi-blue-30};
  --vvi-blue-30-rgb: #{color.$vvi-blue-30-rgb};
  --vvi-blue-40: #{color.$vvi-blue-40};
  --vvi-blue-40-rgb: #{color.$vvi-blue-40-rgb};
  --vvi-blue-50: #{color.$vvi-blue-50};
  --vvi-blue-50-rgb: #{color.$vvi-blue-50-rgb};
  --vvi-blue-60: #{color.$vvi-blue-60};
  --vvi-blue-60-rgb: #{color.$vvi-blue-60-rgb};
  --vvi-blue-70: #{color.$vvi-blue-70};
  --vvi-blue-70-rgb: #{color.$vvi-blue-70-rgb};
  --vvi-blue-80: #{color.$vvi-blue-80};
  --vvi-blue-80-rgb: #{color.$vvi-blue-80-rgb};
  --vvi-blue-90: #{color.$vvi-blue-90};
  --vvi-blue-90-rgb: #{color.$vvi-blue-90-rgb};
  --vvi-volcano-10: #{color.$vvi-volcano-10};
  --vvi-volcano-10-rgb: #{color.$vvi-volcano-10-rgb};
  --vvi-volcano-20: #{color.$vvi-volcano-20};
  --vvi-volcano-20-rgb: #{color.$vvi-volcano-20-rgb};
  --vvi-volcano-30: #{color.$vvi-volcano-30};
  --vvi-volcano-30-rgb: #{color.$vvi-volcano-30-rgb};
  --vvi-volcano-40: #{color.$vvi-volcano-40};
  --vvi-volcano-40-rgb: #{color.$vvi-volcano-40-rgb};
  --vvi-volcano-50: #{color.$vvi-volcano-50};
  --vvi-volcano-50-rgb: #{color.$vvi-volcano-50-rgb};
  --vvi-volcano-60: #{color.$vvi-volcano-60};
  --vvi-volcano-60-rgb: #{color.$vvi-volcano-60-rgb};
  --vvi-volcano-70: #{color.$vvi-volcano-70};
  --vvi-volcano-70-rgb: #{color.$vvi-volcano-70-rgb};
  --vvi-volcano-80: #{color.$vvi-volcano-80};
  --vvi-volcano-80-rgb: #{color.$vvi-volcano-80-rgb};
  --vvi-volcano-90: #{color.$vvi-volcano-90};
  --vvi-volcano-90-rgb: #{color.$vvi-volcano-90-rgb};
  --vvi-orange-10: #{color.$vvi-orange-10};
  --vvi-orange-10-rgb: #{color.$vvi-orange-10-rgb};
  --vvi-orange-20: #{color.$vvi-orange-20};
  --vvi-orange-20-rgb: #{color.$vvi-orange-20-rgb};
  --vvi-orange-30: #{color.$vvi-orange-30};
  --vvi-orange-30-rgb: #{color.$vvi-orange-30-rgb};
  --vvi-orange-40: #{color.$vvi-orange-40};
  --vvi-orange-40-rgb: #{color.$vvi-orange-40-rgb};
  --vvi-orange-50: #{color.$vvi-orange-50};
  --vvi-orange-50-rgb: #{color.$vvi-orange-50-rgb};
  --vvi-orange-60: #{color.$vvi-orange-60};
  --vvi-orange-60-rgb: #{color.$vvi-orange-60-rgb};
  --vvi-orange-70: #{color.$vvi-orange-70};
  --vvi-orange-70-rgb: #{color.$vvi-orange-70-rgb};
  --vvi-orange-80: #{color.$vvi-orange-80};
  --vvi-orange-80-rgb: #{color.$vvi-orange-80-rgb};
  --vvi-orange-90: #{color.$vvi-orange-90};
  --vvi-orange-90-rgb: #{color.$vvi-orange-90-rgb};
  --vvi-cyan-10: #{color.$vvi-cyan-10};
  --vvi-cyan-10-rgb: #{color.$vvi-cyan-10-rgb};
  --vvi-cyan-20: #{color.$vvi-cyan-20};
  --vvi-cyan-20-rgb: #{color.$vvi-cyan-20-rgb};
  --vvi-cyan-30: #{color.$vvi-cyan-30};
  --vvi-cyan-30-rgb: #{color.$vvi-cyan-30-rgb};
  --vvi-cyan-40: #{color.$vvi-cyan-40};
  --vvi-cyan-40-rgb: #{color.$vvi-cyan-40-rgb};
  --vvi-cyan-50: #{color.$vvi-cyan-50};
  --vvi-cyan-50-rgb: #{color.$vvi-cyan-50-rgb};
  --vvi-cyan-60: #{color.$vvi-cyan-60};
  --vvi-cyan-60-rgb: #{color.$vvi-cyan-60-rgb};
  --vvi-cyan-70: #{color.$vvi-cyan-70};
  --vvi-cyan-70-rgb: #{color.$vvi-cyan-70-rgb};
  --vvi-cyan-80: #{color.$vvi-cyan-80};
  --vvi-cyan-80-rgb: #{color.$vvi-cyan-80-rgb};
  --vvi-cyan-90: #{color.$vvi-cyan-90};
  --vvi-cyan-90-rgb: #{color.$vvi-cyan-90-rgb};
  --vvi-lime-10: #{color.$vvi-lime-10};
  --vvi-lime-10-rgb: #{color.$vvi-lime-10-rgb};
  --vvi-lime-20: #{color.$vvi-lime-20};
  --vvi-lime-20-rgb: #{color.$vvi-lime-20-rgb};
  --vvi-lime-30: #{color.$vvi-lime-30};
  --vvi-lime-30-rgb: #{color.$vvi-lime-30-rgb};
  --vvi-lime-40: #{color.$vvi-lime-40};
  --vvi-lime-40-rgb: #{color.$vvi-lime-40-rgb};
  --vvi-lime-50: #{color.$vvi-lime-50};
  --vvi-lime-50-rgb: #{color.$vvi-lime-50-rgb};
  --vvi-lime-60: #{color.$vvi-lime-60};
  --vvi-lime-60-rgb: #{color.$vvi-lime-60-rgb};
  --vvi-lime-70: #{color.$vvi-lime-70};
  --vvi-lime-70-rgb: #{color.$vvi-lime-70-rgb};
  --vvi-lime-80: #{color.$vvi-lime-80};
  --vvi-lime-80-rgb: #{color.$vvi-lime-80-rgb};
  --vvi-lime-90: #{color.$vvi-lime-90};
  --vvi-lime-90-rgb: #{color.$vvi-lime-90-rgb};
  --vvi-green-10: #{color.$vvi-green-10};
  --vvi-green-10-rgb: #{color.$vvi-green-10-rgb};
  --vvi-green-20: #{color.$vvi-green-20};
  --vvi-green-20-rgb: #{color.$vvi-green-20-rgb};
  --vvi-green-30: #{color.$vvi-green-30};
  --vvi-green-30-rgb: #{color.$vvi-green-30-rgb};
  --vvi-green-40: #{color.$vvi-green-40};
  --vvi-green-40-rgb: #{color.$vvi-green-40-rgb};
  --vvi-green-50: #{color.$vvi-green-50};
  --vvi-green-50-rgb: #{color.$vvi-green-50-rgb};
  --vvi-green-60: #{color.$vvi-green-60};
  --vvi-green-60-rgb: #{color.$vvi-green-60-rgb};
  --vvi-green-70: #{color.$vvi-green-70};
  --vvi-green-70-rgb: #{color.$vvi-green-70-rgb};
  --vvi-green-80: #{color.$vvi-green-80};
  --vvi-green-80-rgb: #{color.$vvi-green-80-rgb};
  --vvi-green-90: #{color.$vvi-green-90};
  --vvi-green-90-rgb: #{color.$vvi-green-90-rgb};
  --vvi-yellow-10: #{color.$vvi-yellow-10};
  --vvi-yellow-10-rgb: #{color.$vvi-yellow-10-rgb};
  --vvi-yellow-20: #{color.$vvi-yellow-20};
  --vvi-yellow-20-rgb: #{color.$vvi-yellow-20-rgb};
  --vvi-yellow-30: #{color.$vvi-yellow-30};
  --vvi-yellow-30-rgb: #{color.$vvi-yellow-30-rgb};
  --vvi-yellow-40: #{color.$vvi-yellow-40};
  --vvi-yellow-40-rgb: #{color.$vvi-yellow-40-rgb};
  --vvi-yellow-50: #{color.$vvi-yellow-50};
  --vvi-yellow-50-rgb: #{color.$vvi-yellow-50-rgb};
  --vvi-yellow-60: #{color.$vvi-yellow-60};
  --vvi-yellow-60-rgb: #{color.$vvi-yellow-60-rgb};
  --vvi-yellow-70: #{color.$vvi-yellow-70};
  --vvi-yellow-70-rgb: #{color.$vvi-yellow-70-rgb};
  --vvi-yellow-80: #{color.$vvi-yellow-80};
  --vvi-yellow-80-rgb: #{color.$vvi-yellow-80-rgb};
  --vvi-yellow-90: #{color.$vvi-yellow-90};
  --vvi-yellow-90-rgb: #{color.$vvi-yellow-90-rgb};
  --vvi-gold-10: #{color.$vvi-gold-10};
  --vvi-gold-10-rgb: #{color.$vvi-gold-10-rgb};
  --vvi-gold-20: #{color.$vvi-gold-20};
  --vvi-gold-20-rgb: #{color.$vvi-gold-20-rgb};
  --vvi-gold-30: #{color.$vvi-gold-30};
  --vvi-gold-30-rgb: #{color.$vvi-gold-30-rgb};
  --vvi-gold-40: #{color.$vvi-gold-40};
  --vvi-gold-40-rgb: #{color.$vvi-gold-40-rgb};
  --vvi-gold-50: #{color.$vvi-gold-50};
  --vvi-gold-50-rgb: #{color.$vvi-gold-50-rgb};
  --vvi-gold-60: #{color.$vvi-gold-60};
  --vvi-gold-60-rgb: #{color.$vvi-gold-60-rgb};
  --vvi-gold-70: #{color.$vvi-gold-70};
  --vvi-gold-70-rgb: #{color.$vvi-gold-70-rgb};
  --vvi-gold-80: #{color.$vvi-gold-80};
  --vvi-gold-80-rgb: #{color.$vvi-gold-80-rgb};
  --vvi-gold-90: #{color.$vvi-gold-90};
  --vvi-gold-90-rgb: #{color.$vvi-gold-90-rgb};
  --vvi-red-10: #{color.$vvi-red-10};
  --vvi-red-10-rgb: #{color.$vvi-red-10-rgb};
  --vvi-red-20: #{color.$vvi-red-20};
  --vvi-red-20-rgb: #{color.$vvi-red-20-rgb};
  --vvi-red-30: #{color.$vvi-red-30};
  --vvi-red-30-rgb: #{color.$vvi-red-30-rgb};
  --vvi-red-40: #{color.$vvi-red-40};
  --vvi-red-40-rgb: #{color.$vvi-red-40-rgb};
  --vvi-red-50: #{color.$vvi-red-50};
  --vvi-red-50-rgb: #{color.$vvi-red-50-rgb};
  --vvi-red-60: #{color.$vvi-red-60};
  --vvi-red-60-rgb: #{color.$vvi-red-60-rgb};
  --vvi-red-70: #{color.$vvi-red-70};
  --vvi-red-70-rgb: #{color.$vvi-red-70-rgb};
  --vvi-red-80: #{color.$vvi-red-80};
  --vvi-red-80-rgb: #{color.$vvi-red-80-rgb};
  --vvi-red-90: #{color.$vvi-red-90};
  --vvi-red-90-rgb: #{color.$vvi-red-90-rgb};
  --vvi-violet-10: #{color.$vvi-violet-10};
  --vvi-violet-10-rgb: #{color.$vvi-violet-10-rgb};
  --vvi-violet-20: #{color.$vvi-violet-20};
  --vvi-violet-20-rgb: #{color.$vvi-violet-20-rgb};
  --vvi-violet-30: #{color.$vvi-violet-30};
  --vvi-violet-30-rgb: #{color.$vvi-violet-30-rgb};
  --vvi-violet-40: #{color.$vvi-violet-40};
  --vvi-violet-40-rgb: #{color.$vvi-violet-40-rgb};
  --vvi-violet-50: #{color.$vvi-violet-50};
  --vvi-violet-50-rgb: #{color.$vvi-violet-50-rgb};
  --vvi-violet-60: #{color.$vvi-violet-60};
  --vvi-violet-60-rgb: #{color.$vvi-violet-60-rgb};
  --vvi-violet-70: #{color.$vvi-violet-70};
  --vvi-violet-70-rgb: #{color.$vvi-violet-70-rgb};
  --vvi-violet-80: #{color.$vvi-violet-80};
  --vvi-violet-80-rgb: #{color.$vvi-violet-80-rgb};
  --vvi-violet-90: #{color.$vvi-violet-90};
  --vvi-violet-90-rgb: #{color.$vvi-violet-90-rgb};
  --vvi-pink-10: #{color.$vvi-pink-10};
  --vvi-pink-10-rgb: #{color.$vvi-pink-10-rgb};
  --vvi-pink-20: #{color.$vvi-pink-20};
  --vvi-pink-20-rgb: #{color.$vvi-pink-20-rgb};
  --vvi-pink-30: #{color.$vvi-pink-30};
  --vvi-pink-30-rgb: #{color.$vvi-pink-30-rgb};
  --vvi-pink-40: #{color.$vvi-pink-40};
  --vvi-pink-40-rgb: #{color.$vvi-pink-40-rgb};
  --vvi-pink-50: #{color.$vvi-pink-50};
  --vvi-pink-50-rgb: #{color.$vvi-pink-50-rgb};
  --vvi-pink-60: #{color.$vvi-pink-60};
  --vvi-pink-60-rgb: #{color.$vvi-pink-60-rgb};
  --vvi-pink-70: #{color.$vvi-pink-70};
  --vvi-pink-70-rgb: #{color.$vvi-pink-70-rgb};
  --vvi-pink-80: #{color.$vvi-pink-80};
  --vvi-pink-80-rgb: #{color.$vvi-pink-80-rgb};
  --vvi-pink-90: #{color.$vvi-pink-90};
  --vvi-pink-90-rgb: #{color.$vvi-pink-90-rgb};
  --vvi-close-button: #{color.$vvi-close-button};
  --vvi-close-button-rgb: #{color.$vvi-close-button-rgb};
  --vvi-mini-size-button: #{color.$vvi-mini-size-button};
  --vvi-mini-size-button-rgb: #{color.$vvi-mini-size-button-rgb};
  --vvi-full-size-button: #{color.$vvi-full-size-button};
  --vvi-full-size-button-rgb: #{color.$vvi-full-size-button-rgb};

  --vvi-spacing-base: #{size.$vvi-spacing-base};

  @for $i from 1 through 32 {
    --vvi-spacing-#{$i}: calc(var(--vvi-spacing-base) * #{calc($i / 2)});
  }

  --vvi-font-size-base: #{size.$vvi-font-size-base};
  --vvi-font-size-small: calc(var(--vvi-font-size-base) * 0.875);
  --vvi-font-size-middle: calc(var(--vvi-font-size-base) * 1.125);
  --vvi-font-size-large: calc(var(--vvi-font-size-base) * 1.5);
  --vvi-font-size-extra-large: calc(var(--vvi-font-size-base) * 2.25);
  --vvi-font-size-two-extra-large: calc(var(--vvi-font-size-base) * 3);
  --vvi-radius-small: calc(var(--vvi-font-size-base) * 0.25);
  --vvi-border-radius-small: var(--vvi-radius-small);
  --vvi-radius-middle: calc(var(--vvi-font-size-base) * 0.5);
  --vvi-border-radius-middle: var(--vvi-radius-middle);
  --vvi-radius-card: calc(var(--vvi-font-size-base) * 0.75);
  --vvi-border-radius-card: var(--vvi-radius-card);
  --vvi-radius-full: 100vmax;
  --vvi-border-radius-full: var(--vvi-radius-full);
  --vvi-transition-fast: #{size.$vvi-transition-base};
  --vvi-transition-medium: calc(var(--vvi-transition-fast) * 2);
  --vvi-transition-slow: calc(var(--vvi-transition-fast) * 3);
}

@media (prefers-scheme: light) {
  :root:not([data-theme='dark']):not([data-theme='light']) {
    @include light.light();
  }
}

@media (prefers-scheme: dark) {
  :root:not([data-theme='dark']):not([data-theme='light']) {
    @include dark.dark();
  }
}

.en-light,
:root[data-theme='light'] {
  @include light.light();
}

.en-dark,
:root[data-theme='dark'] {
  @include dark.dark();
}

// 怪异黑模式
.en-weird-dark {
  background-color: var(--vvi-background-weird);
  color: var(--vvi-text-tertiary);
}
