// 亮度值

// function a(str,...other) {
//     str =str[0];

//     return str.split(';').map(e=> e.trim()).filter(e=> e.length > 5).reduce((v,e)=> {
//         const [tag, item] = e.split(':').map(e=> e.trim());
//         const r = Number('0x' + item.slice(1,3));
//         const g = Number('0x' + item.slice(3,5));
//         const b = Number('0x' + item.slice(5));
//         return v + e + ';' + tag + '-rgb' + ':' + r + ',' + g + ',' + b + ';'
//     },'');
// }

$vvi-darkness-10: #fefefe;
$vvi-darkness-10-rgb: 251, 251, 251;
$vvi-darkness-15: #efefef;
$vvi-darkness-15-rgb: 235, 235, 235;
$vvi-darkness-20: #e0e0e0;
$vvi-darkness-20-rgb: 219, 219, 219;
$vvi-darkness-25: #d3d3d3;
$vvi-darkness-25-rgb: 203, 203, 203;
$vvi-darkness-30: #c3c3c3;
$vvi-darkness-30-rgb: 188, 188, 188;
$vvi-darkness-35: #b3b3b3;
$vvi-darkness-35-rgb: 172, 172, 172;
$vvi-darkness-40: #a3a3a3;
$vvi-darkness-40-rgb: 156, 156, 156;
$vvi-darkness-45: #939393;
$vvi-darkness-45-rgb: 141, 141, 141;
$vvi-darkness-50: #838383;
$vvi-darkness-50-rgb: 125, 125, 125;
$vvi-darkness-55: #737373;
$vvi-darkness-55-rgb: 110, 110, 110;
$vvi-darkness-60: #636363;
$vvi-darkness-60-rgb: 94, 94, 94;
$vvi-darkness-65: #535353;
$vvi-darkness-65-rgb: 79, 79, 79;
$vvi-darkness-70: #434343;
$vvi-darkness-70-rgb: 64, 64, 64;
$vvi-darkness-75: #333333;
$vvi-darkness-75-rgb: 49, 49, 49;
$vvi-darkness-80: #232323;
$vvi-darkness-80-rgb: 34, 34, 34;
$vvi-darkness-85: #131313;
$vvi-darkness-85-rgb: 19, 19, 19;
$vvi-darkness-90: #030303;
$vvi-darkness-90-rgb: 3, 3, 3;
//  纯色
$vvi-blue: #0085f2;
$vvi-blue-rgb: 0, 133, 242;
$vvi-cyan: #36cfc9;
$vvi-cyan-rgb: 54, 207, 201;
$vvi-lime: #bae637;
$vvi-lime-rgb: 186, 230, 55;
$vvi-green: #009a46;
$vvi-green-rgb: 0, 154, 70;
$vvi-yellow: #928700;
$vvi-yellow-rgb: 146, 135, 0;
$vvi-volcano: #ff7a45;
$vvi-volcano-rgb: 255, 122, 69;
$vvi-gold: #ffc53d;
$vvi-gold-rgb: 255, 197, 61;
$vvi-orange: #ffa940;
$vvi-orange-rgb: 255, 169, 64;
$vvi-red: #d30038;
$vvi-red-rgb: 211, 0, 56;
$vvi-violet: #9b65ff;
$vvi-violet-rgb: 155, 101, 255;
$vvi-pink: #d00058;
$vvi-pink-rgb: 208, 0, 88;
$vvi-beige: #f0f2e6;
$vvi-beige-rgb: 240, 242, 230;
$vvi-black: #000000;
$vvi-black-rgb: 0, 0, 0;
$vvi-white: #ffffff;
$vvi-white-rgb: 255, 255, 255;
// mac 关闭按钮的色
$vvi-close-button: rgb(252, 71, 70);
$vvi-close-button-rgb: 252, 71, 70;
// mac 关闭最小化的色
$vvi-mini-size-button: rgb(245, 191, 79);
$vvi-mini-size-button-rgb: 245, 191, 79;
// mac 关闭最大化的色
$vvi-full-size-button: rgb(99, 200, 86);
$vvi-full-size-button-rgb: 99, 200, 86;

$vvi-blue-10: #dce2f2;
$vvi-blue-10-rgb: 220, 226, 242;
$vvi-blue-20: #c1cff1;
$vvi-blue-20-rgb: 193, 207, 241;
$vvi-blue-30: #8cb4ff;
$vvi-blue-30-rgb: 140, 180, 255;
$vvi-blue-40: #5e9eff;
$vvi-blue-40-rgb: 94, 158, 255;
$vvi-blue-50: #0085f2;
$vvi-blue-50-rgb: 0, 133, 242;
$vvi-blue-60: #0069c2;
$vvi-blue-60-rgb: 0, 105, 194;
$vvi-blue-70: #004d92;
$vvi-blue-70-rgb: 0, 77, 146;
$vvi-blue-80: #003465;
$vvi-blue-80-rgb: 0, 52, 101;
$vvi-blue-90: #001b3a;
$vvi-blue-90-rgb: 0, 27, 58;

$vvi-cyan-10: #e6fffb;
$vvi-cyan-10-rgb: 230, 255, 251;
$vvi-cyan-20: #b5f5ec;
$vvi-cyan-20-rgb: 181, 245, 236;
$vvi-cyan-30: #87e8de;
$vvi-cyan-30-rgb: 135, 232, 222;
$vvi-cyan-40: #5cdbd3;
$vvi-cyan-40-rgb: 92, 219, 211;
$vvi-cyan-50: #13c2c2;
$vvi-cyan-50-rgb: 19, 194, 194;
$vvi-cyan-60: #08979c;
$vvi-cyan-60-rgb: 8, 151, 156;
$vvi-cyan-70: #006d75;
$vvi-cyan-70-rgb: 0, 109, 117;
$vvi-cyan-80: #00474f;
$vvi-cyan-80-rgb: 0, 71, 79;
$vvi-cyan-90: #002329;
$vvi-cyan-90-rgb: 0, 35, 41;

$vvi-lime-10: #fcffe6;
$vvi-lime-10-rgb: 252, 255, 230;
$vvi-lime-20: #f4ffb8;
$vvi-lime-20-rgb: 244, 255, 184;
$vvi-lime-30: #eaff8f;
$vvi-lime-30-rgb: 234, 255, 143;
$vvi-lime-40: #d3f261;
$vvi-lime-40-rgb: 211, 242, 97;
$vvi-lime-50: #a0d911;
$vvi-lime-50-rgb: 160, 217, 17;
$vvi-lime-60: #7cb305;
$vvi-lime-60-rgb: 124, 179, 5;
$vvi-lime-70: #5b8c00;
$vvi-lime-70-rgb: 91, 140, 0;
$vvi-lime-80: #3f6600;
$vvi-lime-80-rgb: 63, 102, 0;
$vvi-lime-90: #254000;
$vvi-lime-90-rgb: 37, 64, 0;

$vvi-green-10: #a9f3ba;
$vvi-green-10-rgb: 169, 243, 186;
$vvi-green-20: #73e693;
$vvi-green-20-rgb: 115, 230, 147;
$vvi-green-30: #00d061;
$vvi-green-30-rgb: 0, 208, 97;
$vvi-green-40: #00b755;
$vvi-green-40-rgb: 0, 183, 85;
$vvi-green-50: #009a46;
$vvi-green-50-rgb: 0, 154, 70;
$vvi-green-60: #007936;
$vvi-green-60-rgb: 0, 121, 54;
$vvi-green-70: #005a26;
$vvi-green-70-rgb: 0, 90, 38;
$vvi-green-80: #003d18;
$vvi-green-80-rgb: 0, 61, 24;
$vvi-green-90: #00210a;
$vvi-green-90-rgb: 0, 33, 10;

$vvi-orange-10: #fff7e6;
$vvi-orange-10-rgb: 255, 247, 230;
$vvi-orange-20: #ffe7ba;
$vvi-orange-20-rgb: 255, 231, 186;
$vvi-orange-30: #ffd591;
$vvi-orange-30-rgb: 255, 213, 145;
$vvi-orange-40: #ffc069;
$vvi-orange-40-rgb: 255, 192, 105;
$vvi-orange-50: #fa8c16;
$vvi-orange-50-rgb: 250, 140, 22;
$vvi-orange-60: #fa8c16;
$vvi-orange-60-rgb: 250, 140, 22;
$vvi-orange-70: #ad4e00;
$vvi-orange-70-rgb: 173, 78, 0;
$vvi-orange-80: #873800;
$vvi-orange-80-rgb: 135, 56, 0;
$vvi-orange-90: #612500;
$vvi-orange-90-rgb: 97, 37, 0;

$vvi-gold-10: #fff7e6;
$vvi-gold-10-rgb: 255, 247, 230;
$vvi-gold-20: #ffe7ba;
$vvi-gold-20-rgb: 255, 231, 186;
$vvi-gold-30: #ffd591;
$vvi-gold-30-rgb: 255, 213, 145;
$vvi-gold-40: #ffc069;
$vvi-gold-40-rgb: 255, 192, 105;
$vvi-gold-50: #fa8c16;
$vvi-gold-50-rgb: 250, 140, 22;
$vvi-gold-60: #fa8c16;
$vvi-gold-60-rgb: 250, 140, 22;
$vvi-gold-70: #ad4e00;
$vvi-gold-70-rgb: 173, 78, 0;
$vvi-gold-80: #873800;
$vvi-gold-80-rgb: 135, 56, 0;
$vvi-gold-90: #612500;
$vvi-gold-90-rgb: 97, 37, 0;

$vvi-yellow-10: #f0e498;
$vvi-yellow-10-rgb: 240, 228, 152;
$vvi-yellow-20: #dfd172;
$vvi-yellow-20-rgb: 223, 209, 114;
$vvi-yellow-30: #c7b700;
$vvi-yellow-30-rgb: 199, 183, 0;
$vvi-yellow-40: #afa100;
$vvi-yellow-40-rgb: 175, 161, 0;
$vvi-yellow-50: #938700;
$vvi-yellow-50-rgb: 147, 135, 0;
$vvi-yellow-60: #746a00;
$vvi-yellow-60-rgb: 116, 106, 0;
$vvi-yellow-70: #564e00;
$vvi-yellow-70-rgb: 86, 78, 0;
$vvi-yellow-80: #3a3500;
$vvi-yellow-80-rgb: 58, 53, 0;
$vvi-yellow-90: #1f1c00;
$vvi-yellow-90-rgb: 31, 28, 0;

$vvi-volcano-10: #fff2e8;
$vvi-volcano-10-rgb: 255, 242, 232;
$vvi-volcano-20: #ffd8bf;
$vvi-volcano-20-rgb: 255, 216, 191;
$vvi-volcano-30: #ffbb96;
$vvi-volcano-30-rgb: 255, 187, 150;
$vvi-volcano-40: #ff9c6e;
$vvi-volcano-40-rgb: 255, 156, 110;
$vvi-volcano-50: #fa541c;
$vvi-volcano-50-rgb: 250, 84, 28;
$vvi-volcano-60: #d4380d;
$vvi-volcano-60-rgb: 212, 56, 13;
$vvi-volcano-70: #ad2102;
$vvi-volcano-70-rgb: 173, 33, 2;
$vvi-volcano-80: #871400;
$vvi-volcano-80-rgb: 135, 20, 0;
$vvi-volcano-90: #610b00;
$vvi-volcano-90-rgb: 97, 11, 0;

$vvi-red-10: #ffd9dc;
$vvi-red-10-rgb: 255, 217, 220;
$vvi-red-20: #ffc0c4;
$vvi-red-20-rgb: 255, 192, 196;
$vvi-red-30: #ff97a0;
$vvi-red-30-rgb: 255, 151, 160;
$vvi-red-40: #ff707f;
$vvi-red-40-rgb: 255, 112, 127;
$vvi-red-50: #ff2a51;
$vvi-red-50-rgb: 255, 42, 81;
$vvi-red-60: #d30038;
$vvi-red-60-rgb: 211, 0, 56;
$vvi-red-70: #9e0027;
$vvi-red-70-rgb: 158, 0, 39;
$vvi-red-80: #6f0019;
$vvi-red-80-rgb: 111, 0, 25;
$vvi-red-90: #40000a;
$vvi-red-90-rgb: 64, 0, 10;

$vvi-violet-10: #e6deff;
$vvi-violet-10-rgb: 230, 222, 255;
$vvi-violet-20: #d4c5ff;
$vvi-violet-20-rgb: 212, 197, 255;
$vvi-violet-30: #bea5ff;
$vvi-violet-30-rgb: 190, 165, 255;
$vvi-violet-40: #ae8aff;
$vvi-violet-40-rgb: 174, 138, 255;
$vvi-violet-50: #9b65ff;
$vvi-violet-50-rgb: 155, 101, 255;
$vvi-violet-60: #872bff;
$vvi-violet-60-rgb: 135, 43, 255;
$vvi-violet-70: #6800cf;
$vvi-violet-70-rgb: 104, 0, 207;
$vvi-violet-80: #480091;
$vvi-violet-80-rgb: 72, 0, 145;
$vvi-violet-90: #280056;
$vvi-violet-90-rgb: 40, 0, 86;

$vvi-pink-10: #ffd9df;
$vvi-pink-10-rgb: 255, 217, 223;
$vvi-pink-20: #ffbbc8;
$vvi-pink-20-rgb: 255, 187, 200;
$vvi-pink-30: #ff93aa;
$vvi-pink-30-rgb: 255, 147, 170;
$vvi-pink-40: #ff6d91;
$vvi-pink-40-rgb: 255, 109, 145;
$vvi-pink-50: #ff1f72;
$vvi-pink-50-rgb: 255, 31, 114;
$vvi-pink-60: #d00058;
$vvi-pink-60-rgb: 208, 0, 88;
$vvi-pink-70: #9e0041;
$vvi-pink-70-rgb: 158, 0, 65;
$vvi-pink-80: #6d002b;
$vvi-pink-80-rgb: 109, 0, 43;
$vvi-pink-90: #3f0015;
$vvi-pink-90-rgb: 63, 0, 21;
